# **Proyecto: Análisis del arbolado en CABA**

Introducción breve del proyecto

## Problema

Descripción breve de lo que vamos a analizar

## Importación de librerias

In [170]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Análisis Exploratorio de Datos

### Carga del dataset
Cargamos el dataset con Pandas. Imprimimos cuántas filas y columnas tiene, y sus cinco primeros registros.

In [171]:
data_arbolado = pd.read_csv("./datos/arbolado_CABA_espacios_verdes.csv")
print(f"El dataset tiene {data_arbolado.shape[0]} filas y {data_arbolado.shape[1]} columnas.")
data_arbolado.head()

El dataset tiene 51502 filas y 17 columnas.

,long,lat,id_arbol,altura_tot,diametro,inclinacio,id_especie,nombre_com,nombre_cie,tipo_folla,espacio_ve,ubicacion,nombre_fam,nombre_gen,origen,coord_x,coord_y
0,-584.775.636.069,-346.450.145.297,1,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,9.869.230.571.900.000,98.253.300.738
1,-584.775.587.043,-34.645.046.711.599.900,2,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,98.692.751.564,98.249.733.979
2,-58.477.550.640.699.900,-346.450.909.731,3,6,35,0,53,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico,98.693.494.639,98.244.829.684
3,-584.781.292.923,-346.445.670.766,4,17,50,0,65,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono,98.640.439.091,98.302.938.142
4,-584.781.211.175,-346.445.979.068,5,17,50,0,65,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono,98.641.182.166,98.299.519.997

Removemos algunas columnas que no vamos a utilizar para una mejor visualización y también facilitar el trabajo de aquí en adelante

In [172]:
data_arbolado = data_arbolado.drop(['long', 'lat', 'coord_x', 'coord_y', 'id_especie', 'id_arbol'], axis=1) 
print(f"El dataset tiene {data_arbolado.shape[0]} filas y {data_arbolado.shape[1]} columnas.")
data_arbolado = data_arbolado.rename({"altura_tot": "altura", "inclinacio":"inclinacion", "tipo_folla":"tipo_follaje" , "espacio_ve":"espacio_verde"}, axis =1)
data_arbolado.head()

El dataset tiene 51502 filas y 11 columnas.

,altura,diametro,inclinacion,nombre_com,nombre_cie,tipo_follaje,espacio_verde,ubicacion,nombre_fam,nombre_gen,origen
0,6,35,0,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico
1,6,35,0,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico
2,6,35,0,Washingtonia (Palmera washingtonia),Washingtonia filifera,Palmera,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Arecaceas,Washingtonia,Exótico
3,17,50,0,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono
4,17,50,0,Ombú,Phytolacca dioica,Árbol Latifoliado Caducifolio,"AVELLANEDA, NICOLÁS, Pres.","DIRECTORIO, AV. - LACARRA, AV. - MONTE - AUTO...",Fitolacáceas,Phytolacca,Nativo/Autóctono

In [173]:
data_arbolado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51502 entries, 0 to 51501
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   altura         51502 non-null  int64
 1   diametro       51502 non-null  int64
 2   inclinacion    51502 non-null  int64
 3   nombre_com     51502 non-null  object
 4   nombre_cie     51502 non-null  object
 5   tipo_follaje   51502 non-null  object
 6   espacio_verde  51502 non-null  object
 7   ubicacion      50529 non-null  object
 8   nombre_fam     51502 non-null  object
 9   nombre_gen     51502 non-null  object
 10  origen         51502 non-null  object
dtypes: int64(3), object(8)
memory usage: 4.3+ MB

- Valores faltantes por columna

In [174]:
print("Los valores faltantes en cada columna son: ")
print("---------------------------------------------------------------------------")
print(data_arbolado.isna().sum())
print("---------------------------------------------------------------------------")

Los valores faltantes en cada columna son:
---------------------------------------------------------------------------
altura             0
diametro           0
inclinacion        0
nombre_com         0
nombre_cie         0
tipo_follaje       0
espacio_verde      0
ubicacion        973
nombre_fam         0
nombre_gen         0
origen             0
dtype: int64
---------------------------------------------------------------------------

- Estadísticas de las columnas númericas

In [175]:
data_arbolado.describe()

             altura      diametro   inclinacion
count  51502.000000  51502.000000  51502.000000
mean      12.167100     39.395616      3.472215
std        7.640309     31.171205      7.039495
min        0.000000      1.000000      0.000000
25%        6.000000     18.000000      0.000000
50%       11.000000     32.000000      0.000000
75%       18.000000     54.000000      5.000000
max       54.000000    500.000000     90.000000

In [179]:
inclinaciones = data_arbolado.inclinacion.unique().tolist()
tipo_follaje = data_arbolado.tipo_follaje.unique().tolist()
alturas = data_arbolado.altura.unique().tolist()
diametros = data_arbolado.diametro.unique().tolist()
nombres_com = data_arbolado.nombre_com.unique().tolist()
origenes = data_arbolado.origen.unique().tolist()
especios_verdes = data_arbolado.espacio_verde.unique().tolist()

print(diametros.sort())
print(origenes)
# print(especios_verdes)
print(f"Cantidad de follajes: {len(tipo_follaje)}")
print(f"Cantidad de inclinaciones: {len(inclinaciones)}")
print(f"Cantidad de alturas: {len(alturas)}")
print(f"Cantidad de nombres comunes: {len(nombres_com)}")
print(f"Cantidad de diametros: {len(diametros)}")
print(f"Cantidad de espacios verdes: {len(especios_verdes)}")

None
['Exótico', 'Nativo/Autóctono', 'No Determinado']
Cantidad de follajes: 10
Cantidad de inclinaciones: 74
Cantidad de alturas: 53
Cantidad de nombres comunes: 337
Cantidad de diametros: 245
Cantidad de espacios verdes: 583

In [ ]:
# ESTA CELDA NADA MÁS LA VAMOS A USAR PARA BORRAR LAS COLUMNAS QUE NO NOS INTERESEN Y PARA SOBREESCRIBIR EL DATASET

#-Borramos columnas
# data_arbolado = data_arbolado.drop(['long', 'lat', 'coord_x', 'coord_y', 'id_especie'], axis=1) 

#-Escribimos un nuevo archivo con el dataset actualizado
# data_arbolado.to_csv(path_or_buf="./datos/arbolado_CABA.csv", index=False) 

#-Leemos el dataset actualizado y comprobamos los cambios imprimendo el dataframe
# data_arbolado_bis = pd.read_csv("./datos/arbolado_CABA.csv")

#-Mostramos el dataframe
# data_arbolado_bis

In [180]:
inclinaciones.sort()
print(inclinaciones)
cantidad_incliancion_0 = data_arbolado.loc[data_arbolado.inclinacion == 1]
print(len(cantidad_incliancion_0))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 70, 75, 77, 78, 80, 81, 85, 88, 90]
64

In [ ]:
cantidad_diametro_1 = data_arbolado.loc[data_arbolado.diametro == 1]
print(len(cantidad_diametro_1))
cantidad_diametro_1

In [187]:
espacios_verdes = pd.read_csv("./datos/espacio_verde_publico.csv")
especios_verdes_curados = espacios_verdes.loc[:, ['nombre', 'nombre_ev', 'clasificac', 'ubicacion']]
especios_verdes_curados

,nombre,nombre_ev,clasificac,ubicacion
0,Escuela Scalabrini Ortiz,ESCUELA Nº 13 D.E. 09 SCALABRINI ORTIZ,PLAZOLETA,"CONDE - MATIENZO, BENJAMIN, TTE. - FREIRE, RAM..."
1,Polideportivo Colegiales,POLIDEPORTIVO COLEGIALES,PARQUE,"CONDE - MATIENZO, BENJAMIN, TTE. - FREIRE, RAM..."
2,NaN,SIN NOMBRE,PLAZOLETA,"GUIRALDES, INTENDENTE - ESTACIONAMIENTO - PARQ..."
3,Plaza Rafael Hernández,"HERNANDEZ, RAFAEL",PLAZA,"ECHEVERRIA - VUELTA DE OBLIGADO - MOM, POLICARPO"
4,Plaza Pques. Nacionales Argentinos,PARQUES NACIONALES ARGENTINOS,PLAZA,"ECHEVERRIA - CASTAÑEDA - SUCRE, ANTONIO J. DE,..."
...,...,...,...,...
1760,Paseo del Ballet Argentino (e/ Gutenberg y Mis...,PASEO del BALLET ARGENTINO,CANTERO CENTRAL,"CHIVILCOY, AV. E/ GUTENBER Y GABRIELA MISTRAL"
1761,NaN,NaN,CANTERO CENTRAL,CAMPOS SALLES entre FIGUEROA ALCORTA AV y AV D...
1762,NaN,S/D,PLAZOLETA,CAÑADA DE GOMEZ - CNEL CARDENAS - TAPALQUE
1763,NaN,S/D,PLAZOLETA,CAÑADA DE GOMEZ - CNEL CARDENAS - BRAGADO
1764,NaN,S/D,PLAZOLETA,AV EMILIO CASTRO - SALADILLO - PATRON